S4_OTC_I_0253_S4HANA_To_SalesForce_BusinessPartnerCustomer/src/main/resources/xsd/Salesforce_Object_Upsert_with_External_Id_Request.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 48.0 
Operation: REST - Salesforce Object - Upsert with External Id - Account - Request 
Creation date: Thu Oct 08 13:28:11 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjects">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Identifier">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ExternalId" type="xsd:string"/>
                            <xsd:element default="Account" maxOccurs="1" minOccurs="0" name="SObjectName" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Name" nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>Account Name</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Type" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Type</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RecordTypeId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Record Type ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ParentId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Parent Account ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Street</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing City</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing State/Province</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Zip/Postal Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Country</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Billing Latitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Billing Longitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Geocode Accuracy</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Address"/>
                            <xsd:enumeration value="NearAddress"/>
                            <xsd:enumeration value="Block"/>
                            <xsd:enumeration value="Street"/>
                            <xsd:enumeration value="ExtendedZip"/>
                            <xsd:enumeration value="Zip"/>
                            <xsd:enumeration value="Neighborhood"/>
                            <xsd:enumeration value="City"/>
                            <xsd:enumeration value="County"/>
                            <xsd:enumeration value="State"/>
                            <xsd:enumeration value="Unknown"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Street</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping City</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping State/Province</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Zip/Postal Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Country</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Latitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Longitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Geocode Accuracy</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Address"/>
                            <xsd:enumeration value="NearAddress"/>
                            <xsd:enumeration value="Block"/>
                            <xsd:enumeration value="Street"/>
                            <xsd:enumeration value="ExtendedZip"/>
                            <xsd:enumeration value="Zip"/>
                            <xsd:enumeration value="Neighborhood"/>
                            <xsd:enumeration value="City"/>
                            <xsd:enumeration value="County"/>
                            <xsd:enumeration value="State"/>
                            <xsd:enumeration value="Unknown"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Phone" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Phone</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Fax" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Fax</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Website" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Website</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Sic" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SIC Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Industry" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Industry</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="AnnualRevenue" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Annual Revenue</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NumberOfEmployees" nillable="true" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>Employees</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Ownership" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Ownership</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="TickerSymbol" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Ticker Symbol</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="32000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Rating" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Rating</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Site" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Site</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Currency</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="EUR"/>
                            <xsd:enumeration value="USD"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" nillable="false" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Owner ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Jigsaw" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Data.com Key</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CleanStatus" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Clean Status</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Matched"/>
                            <xsd:enumeration value="Different"/>
                            <xsd:enumeration value="Acknowledged"/>
                            <xsd:enumeration value="NotFound"/>
                            <xsd:enumeration value="Inactive"/>
                            <xsd:enumeration value="Pending"/>
                            <xsd:enumeration value="SelectMatch"/>
                            <xsd:enumeration value="Skipped"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="AccountSource" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Account Source</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DunsNumber" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>D-U-N-S Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="9"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Tradestyle" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Tradestyle</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NaicsCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>NAICS Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="8"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NaicsDesc" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>NAICS Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="120"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="YearStarted" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Year Started</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SicDesc" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SIC Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="DandbCompanyId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>D&amp;B Company ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPriority__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Z_Customer Priority</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SLA__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SLA</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Active__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Z_Active</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NumberofLocations__c" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Number of Locations</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="UpsellOpportunity__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Upsell Opportunity</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SLASerialNumber__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SLA Serial Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="10"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SLAExpirationDate__c" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>SLA Expiration Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SAPReferenceNumber__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP Reference Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="32"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Email__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Email</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="32"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SAP_BusinessPartner_Ref__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP Business Partner Reference</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="50"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RecordType" type="RecordTypeRef"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Parent" type="ParentRef"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Owner" type="OwnerRef"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="DandbCompany" type="DandbCompanyRef"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="RecordTypeRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeveloperName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NamespacePrefix" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BusinessProcessId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SobjectType" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ParentRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MasterRecordId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RecordTypeId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Fax" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Website" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Sic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Industry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AnnualRevenue" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NumberOfEmployees" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Ownership" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TickerSymbol" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Rating" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Site" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastActivityDate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Jigsaw" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="JigsawCompanyId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CleanStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountSource" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DunsNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Tradestyle" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NaicsCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="YearStarted" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DandbCompanyId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPriority__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SLA__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Active__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NumberofLocations__c" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpsellOpportunity__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SLASerialNumber__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SLAExpirationDate__c" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAPReferenceNumber__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Email__c" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_BusinessPartner_Ref__c" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="OwnerRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Username" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FirstName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CompanyName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Division" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Department" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Street" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="State" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Latitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Longitude" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Address" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmailPreferencesAutoBcc" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmailPreferencesAutoBccStayInTouch" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmailPreferencesStayInTouchReminder" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SenderEmail" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SenderName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Signature" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StayInTouchSubject" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StayInTouchSignature" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StayInTouchNote" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Fax" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Alias" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CommunityNickname" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BadgeText" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TimeZoneSidKey" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserRoleId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LocaleSidKey" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReceivesInfoEmails" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReceivesAdminInfoEmails" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmailEncodingKey" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DefaultCurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProfileId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserType" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LanguageLocaleKey" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmployeeNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DelegatedApproverId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ManagerId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastLoginDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastPasswordChangeDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NumberOfFailedLogins" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OfflineTrialExpirationDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OfflinePdaTrialExpirationDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsMarketingUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsOfflineUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsCallCenterAutoLogin" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsSFContentUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsKnowledgeUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsInteractionUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsSupportUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsJigsawProspectingUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsSiteforceContributorUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsSiteforcePublisherUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsChatterAnswersUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPermissionsWorkDotComUserFeature" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ForecastEnabled" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesActivityRemindersPopup" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesEventRemindersCheckboxDefault" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesTaskRemindersCheckboxDefault" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesReminderSoundOff" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableAllFeedsEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableFollowersEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableProfilePostEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableChangeCommentEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableLaterCommentEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisProfPostCommentEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesContentNoEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesContentEmailAsAndWhen" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesApexPagesDeveloperMode" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesReceiveNoNotificationsAsApprover" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesReceiveNotificationsAsDelegatedApprover" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideCSNGetChatterMobileTask" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableMentionsPostEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisMentionsCommentEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideCSNDesktopTask" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideChatterOnboardingSplash" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideSecondChatterOnboardingSplash" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisCommentAfterLikeEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableLikeEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesSortFeedByComment" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableMessageEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideLegacyRetirementModal" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesJigsawListUser" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableBookmarkEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableSharePostEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesEnableAutoSubForFeeds" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableFileShareNotificationsForApi" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowTitleToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowManagerToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowEmailToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowWorkPhoneToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowMobilePhoneToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowFaxToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowStreetAddressToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowCityToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowStateToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowPostalCodeToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowCountryToExternalUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowProfilePicToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowTitleToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowCityToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowStateToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowPostalCodeToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowCountryToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableFeedbackEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableWorkEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesPipelineViewHideHelpPopover" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideS1BrowserUI" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesDisableEndorsementEmail" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesPathAssistantCollapsed" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesCacheDiagnostics" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowEmailToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowManagerToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowWorkPhoneToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowMobilePhoneToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowFaxToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesShowStreetAddressToGuestUsers" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesLightningExperiencePreferred" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesPreviewLightning" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideEndUserOnboardingAssistantModal" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideLightningMigrationModal" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideSfxWelcomeMat" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHideBiggerPhotoCallout" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesGlobalNavBarWTShown" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesGlobalNavGridMenuWTShown" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesCreateLEXAppsWTShown" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesFavoritesWTShown" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesRecordHomeSectionCollapseWTShown" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesRecordHomeReservedWTShown" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesFavoritesShowTopFavorites" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesExcludeMailAppAttachments" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesSuppressTaskSFXReminders" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesSuppressEventSFXReminders" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesPreviewCustomTheme" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesHasCelebrationBadge" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesUserDebugModePref" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesSRHOverrideActivities" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesNewLightningReportRunPageEnabled" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserPreferencesNativeEmailClient" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContactId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CallCenterId" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Extension" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FederationIdentifier" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AboutMe" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FullPhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SmallPhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsExtIndicatorVisible" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OutOfOfficeMessage" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MediumPhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DigestFrequency" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DefaultGroupNotificationFrequency" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="JigsawImportLimitOverride" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BannerPhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SmallBannerPhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MediumBannerPhotoUrl" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsProfilePhotoActive" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IndividualId" type="xsd:anyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="DandbCompanyRef">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DunsNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Street" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="State" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GeocodeAccuracyStandard" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Address" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Phone" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Fax" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CountryAccessCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PublicIndicator" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StockSymbol" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StockExchange" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesVolume" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="URL" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OutOfBusiness" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmployeesTotal" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FipsMsaCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FipsMsaDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TradeStyle1" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="YearStarted" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingStreet" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingCity" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingState" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingPostalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingCountry" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingGeocodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MailingAddress" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Latitude" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Longitude" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimarySic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimarySicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecondSic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecondSicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ThirdSic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ThirdSicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FourthSic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FourthSicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FifthSic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FifthSicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SixthSic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SixthSicDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryNaics" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryNaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecondNaics" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecondNaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ThirdNaics" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ThirdNaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FourthNaics" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FourthNaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FifthNaics" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FifthNaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SixthNaics" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SixthNaicsDesc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OwnOrRent" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmployeesHere" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmployeesHereReliability" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesVolumeReliability" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LegalStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GlobalUltimateTotalEmployees" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmployeesTotalReliability" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MinorityOwned" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="WomenOwned" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SmallBusiness" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MarketingSegmentationCluster" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ImportExportAgent" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Subsidiary" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TradeStyle2" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TradeStyle3" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TradeStyle4" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TradeStyle5" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NationalId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NationalIdType" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UsTaxId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GeoCodeAccuracy" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FamilyMembers" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MarketingPreScreen" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GlobalUltimateDunsNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GlobalUltimateBusinessName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentOrHqDunsNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ParentOrHqBusinessName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DomesticUltimateDunsNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DomesticUltimateBusinessName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LocationStatus" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CompanyCurrencyIsoCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FortuneRank" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IncludedInSnP500" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PremisesMeasure" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PremisesMeasureReliability" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PremisesMeasureUnit" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EmployeeQuantityGrowthRate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesTurnoverGrowthRate" type="xsd:anyType"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimarySic8" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PrimarySic8Desc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecondSic8" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SecondSic8Desc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ThirdSic8" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ThirdSic8Desc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FourthSic8" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FourthSic8Desc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FifthSic8" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FifthSic8Desc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SixthSic8" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SixthSic8Desc" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriorYearEmployees" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriorYearRevenue" type="xsd:anyType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
