S4_OTC_I_0254_S4HANA_To_Salesforce_ReplicateProduct/src/main/resources/xsd/CustomResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="record">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SalesforceEntity" type="xs:boolean" minOccurs="0" />
              <xs:element name="Product" type="xs:boolean" minOccurs="0" />
              <xs:element name="salesforceid" type="xs:string" minOccurs="0" />
              <xs:element name="Status" type="xs:boolean" minOccurs="0" />
			  <xs:element name="fields" type="xs:boolean" minOccurs="0" />
			  <xs:element name="errormessage" type="xs:boolean" minOccurs="0"  />
			   <xs:element name="statusCode" type="xs:boolean" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>