S4_OTC_I_0254_S4HANA_To_Salesforce_ReplicateProduct/src/main/resources/xsd/SalesforceResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="created" type="xs:boolean" />
              <xs:element minOccurs="0" name="errors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fields" type="xs:string" />
                    <xs:element name="message" type="xs:string" />
                    <xs:element name="statusCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:string" />
              <xs:element name="success" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>